@font-face {
    font-family: 'Roboto';
    src: url(fonts/Roboto-Regular.ttf) format('truetype');
}

@keyframes nvdesk {
    from {transform: translateX(-200px);}
    to {transform: translateX(0px);}
}
@keyframes nvdesk1 {
    from {transform: translateX(200px);}
    to {transform: translateX(0px);}
}

@keyframes nvmob {
    from {transform: translateY(-200px);}
    to {transform: translateY(0px);}
}
@keyframes code {
    from {transform: scale(0) translateX(2vw);
    opacity:0}
    to {transform: scale(1) translateX(2vw);
    opacity:1}
}
@keyframes head {
    from {transform: translateX(-100%);
        opacity:0}
    to {transform: translateX(0%);
        opacity:1}
}

@keyframes title {
    from {transform: translateY(100vh);}
    to {transform: translateY(0%);}
}

main {
    display: none;
    opacity: 0;
}

#home.current {
    display: flex;
    opacity: 1;
    transition: 0.5s all ease;
}

.drawer {
    display: none;
}

.navbar__mobile {
    display: none;
    position: fixed;
}

.main-content {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    position: relative;
}

html {
    overflow: auto;
}

* {
    -webkit-tap-highlight-color: transparent;
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
    height: 100vh;
    width: 100vw;
    font-family: Roboto;
    display: flex;
    overflow: hidden;
}

.navbar__desktop {
    position: fixed;
    width: 100px;
    height: 100vh;
    display: flex;
    justify-content: center;
    z-index: 40;
}
#nb_c1 {
    margin-top: 25px;
    background : #1A1A1A;
    background : rgba(26, 26, 26, 1);
    border-style : Solid;
    border-color : #333333;
    border-color : rgba(51, 51, 51, 1);
    border-width : 1px;
    width : 70px;
    height : max-content;
    display: grid;
    border-radius : 10px;
    -moz-border-radius : 10px;
    -webkit-border-radius : 10px;
    padding: 30px 0px;
    animation: nvdesk 0.8s ease;
}

#nb_c1 div {
    display: grid;
    justify-content: center;
}

.navbar__desktop a {
    position: relative;
    writing-mode: vertical-lr ;
    rotate: 180deg;
    display: block;
    font-family: Roboto;
    font-size : 16px;
    font-weight: 300;
    text-decoration: none;
    color : #F2F2F2;
    color : rgb(242, 242, 242);
    padding: 25px 0px;
    transition: 0.5s all ease;

}

.navbar__desktop a:hover {
    font-weight: 500;
}



.navbar__desktop a::after {
    position: absolute;
    content: '';
    left: -6px;
    height: 0%;
    border-radius: 1vmax;
    width: 2px;
    margin: auto 0;
    top: 50%;
    transform: translateY(-50%);
    background: white;
    opacity: 0;
    transition: 0.5s all cubic-bezier(0.87, 0, 0.13, 1);
}

a:hover::after {
    height: 30% !important;
    opacity: 1;
}

.active {
    font-weight: 800 !important;
    position: relative;
}

.active::after {
    height: 60% !important;
    opacity: 1 !important;
}
#nb_c2 {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 25px;
    position: absolute;
    bottom: 0;
    background : #1A1A1A;
    background : rgba(26, 26, 26, 1);
    border-style : Solid;
    border-color : #333333;
    border-color : rgba(51, 51, 51, 1);
    border-width : 1px;
    width : 70px;
    height : 70px;
    display: grid;
    border-radius : 10px;
    -moz-border-radius : 10px;
    -webkit-border-radius : 10px;
    transition: 0.5s all cubic-bezier(0.87, 0, 0.13, 1);
    animation: nvdesk1 0.5s ease;
    animation-delay: 0.4s;
    -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
    animation-fill-mode: forwards;
    transform: translateX(200px);
}

#nb_c2:hover {
    background : #333333;
    background : rgba(51, 51, 51, 1);
}

#nb_c2 img {
    width: 30px;
    filter: invert(1);
    transition: 0.5s all cubic-bezier(0.87, 0, 0.13, 1);
}

#nb_c2.active {
    background : #E6E6E6;
    background : rgba(230, 230, 230, 1);
}

#nb_c2.active img {
    filter: invert(0)
}

#home {
    justify-content: center;
    align-items: center;
    width: calc(100vw - 100px);
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    background-image: radial-gradient(50% 50%, rgba(0, 0, 0, 0) 20.46%, rgba(0, 0, 0, 1) 100%), url("assets/bg.svg");
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    overflow: hidden;
}

#home > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    height: 30vh;
}

.code {
    width: 40vw;
    position: absolute;
    z-index: 10;
    transform: translateX(2vw);
    animation: code 0.5s ease;
    animation-delay: 0.6s;
    -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
    animation-fill-mode: forwards;
    transform: scale(0);
    opacity: 0;
}

div > h1 {
    position: absolute;
    font-weight : 900;
    font-style : italic;
    font-size : 8vw;
    text-align: center;
    color : #F2F2F2;
    color : rgb(242, 242, 242);
    animation: head 0.5s ease;
    animation-delay: 0.6s;
    -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
    animation-fill-mode: forwards;
    transform: translateX(-100vw);

}

#home > p {
    font-size: 20px;
    color: white;
    text-align: center;
    margin-top: 12vh;
    margin-bottom: 0;
    animation: title 0.7s ease;
    animation-delay: 0.8s;
    -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
    animation-fill-mode: forwards;
    transform: translateY(100vh);
}

#home > img {
    position: absolute;
    bottom: 20px;
    width: 30px;
    filter: invert(1);
    animation: title 0.7s ease;
    animation-delay: 1s;
    -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
    animation-fill-mode: forwards;
    transform: translateY(100vh);

}

#home > img:hover {
    transform: translateY(20px);
}

#nb_c2 {
    width: 70px !important;
    height: 20px !important;
}

main {
    width: calc(100vw - 100px);
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
}

#code.current {
    background-color: black;
    display: flex;
    align-items: center;
    opacity: 1;
    z-index: 1;
    height: max-content;
}
@keyframes codeanim {
    0% {color: rgba(255, 255, 255, 0);}
    100% {color: rgba(255, 255, 255, 1);}
}

@keyframes codeanim {
    0% {color: rgba(255, 255, 255, 0);}
    100% {color: rgba(255, 255, 255, 1);}
}

#code h3 {
    display: block;
    margin: 50px 100px;
    position: relative;
    font-size: 5vw;
    color: rgba(255, 255, 255, 0);
    font-weight: 900;
    animation: codeanim 0.1s ease;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
}

#code h4 {
    color: white;
    font-size: 19px;
}

@keyframes codeanim1 {
    0% {transform: scaleX(0%);
        transform-origin: left}
    40% {transform: scaleX(100%);
        transform-origin: left}
    60% {transform: scaleX(100%);
    transform-origin: right}
    100% {transform: scaleX(0%);
        transform-origin: right}
}

#code h3::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0%);
    transform-origin: left;
    height: 100%;
    width: 100%;
    background-color: #F2F2F2;
    animation: codeanim1 1s cubic-bezier(0.65, 0, 0.35, 1);
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

.codeh {
    background : linear-gradient(90deg, rgba(255, 98, 0, 1) 0%, rgba(255, 142, 0, 1) 31.28%, rgba(255, 176, 0, 1) 60.21%, rgba(255, 197, 0, 1) 84.1%, rgba(255, 204, 0, 1) 100%);
    width: 60vw;
    border-radius: 20px;
    padding: 45px;
    box-sizing: border-box;
    position: relative;
    opacity: 0;
    animation: codeload 0.5s ease 2s forwards;
    z-index: -1;
    box-sizing: border-box;
    margin: 40px 0px;
}
.codeh::before {
    background-color: #1a1a1a;
    border-radius: 20px;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    content: "";
    top: 2px;
    left: 2px;
    position: absolute;
    z-index: -3;
    box-sizing: border-box;
}

.codeh::after {
    border-radius: 20px;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    content: "";
    top: -2px;
    left: -2px;
    background : linear-gradient(90deg, rgba(255, 98, 0, 1) 0%, rgba(255, 142, 0, 1) 31.28%, rgba(255, 176, 0, 1) 60.21%, rgba(255, 197, 0, 1) 84.1%, rgba(255, 204, 0, 1) 100%);
    position: absolute;
    z-index: -5;
    filter: blur(15px);
    box-sizing: border-box;

}

@keyframes codeload {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;;
    }
}

code {
    border-style : Solid;
    border-color : #333333;
    border-color : rgba(51, 51, 51, 1);
    border-width : 1px;
    border-radius : 15px;
    margin: 20px 0px;
    z-index: 0;
}

.copy-btn {
    background : #141414;
    background : rgba(20, 20, 20, 1);
    border-style : Solid;
    border-color : #4D4D4D;
    border-color : rgba(77, 77, 77, 1);
    border-width : 1px;
    border-radius : 9px;
    -moz-border-radius : 9px;
    -webkit-border-radius : 9px;
    font-family : Roboto;
    font-size : 15px;
    color : #F2F2F2;
    color : rgb(242, 242, 242);
    padding: 8px 15px;
    margin-left: 0 !important;
    margin-right: 10px;
    z-index: 0;
    transition: all 0.2s ease;
}

.copy-btn:hover {
    background : #252525;
    transform: scale(106%);
}

.copy-btn:active {
    background : #3b3b3b;
    transform: scale(100%);
}
.copy-a {
    position: fixed;
    bottom: 20px;
    padding: 20px 20px;
    width: 75vw;
    border-radius: 10px;
    box-shadow: #262626 0px 0px 20px;
    background: #3b3b3b;
    left:50%;
    transform: translateY(150%) translateX(-50%) scale(0.4);
    z-index: 20;
    transition: all 0.5s cubic-bezier(0.85, 0, 0.15, 1);
}


.copy-a.show-a {
    position: fixed;
    bottom: 20px;
    padding: 20px 20px;
    width: 80vw;
    border-radius: 10px;
    box-shadow: #262626 0px 0px 20px;
    background: #3b3b3b;
    left:50%;
    transform: translateX(-50%) scale(1);
}

.copy-a p {
    color: white;
    margin: 0;
}

@keyframes terminalload {
    0% {
        transform: translateY(10%);
        opacity: 0;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}


@keyframes opacityup {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#terminal.current {
    display: flex;
    justify-content: center;
    align-items: center;
    filter: hue-rotate(180deg);
    background-image: radial-gradient(50% 50%, rgba(0, 0, 0, 0) 20.46%, rgba(0, 0, 0, 1) 100%), url("assets/bg.svg");
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    opacity: 1;
    animation: opacityup 0.5s cubic-bezier(0.85, 0, 0.15, 1);
}

#terminal.current > div {
    padding: 20px 30px;
    border-radius: 20px;
    background-color: rgba(40, 40, 40, 0.27);
    width: 60vw;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    transform: translateY(10%);
    opacity: 0;
    animation: terminalload 0.5s cubic-bezier(0.85, 0, 0.15, 1) 0.9s forwards;
}

#terminal.current  img {
    width: 40vw;
    border-radius: 20px;
    margin-left: 30px;
}


.th {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.th h5 {
    font-size: 30px;
    font-weight: 900;
    color: white;
    margin: 0px 0px;
}

.th p {
    font-size: 15px;
    color: white;
    margin: 5px 0px;
    font-weight: 100;
}

.th a {
    background-color: black;
    font-size: 17px;
    text-decoration: none;
    color: white;
    margin: 20px 0px;
    font-weight: 10;
    padding: 10px 20px;
    border: solid white 2px;
    border-radius: 10px;
    width: fit-content;
    transition: all 0.4s ease;
}

.th a:hover {
    background-color: #F2F2F2;
    color: black;
}

.th a:active {
    background-color: #b2b2b2;
    color: black;
}

#webide.current {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    filter: hue-rotate(270deg);
    background-image: radial-gradient(50% 50%, rgba(0, 0, 0, 0) 20.46%, rgba(0, 0, 0, 1) 100%), url("assets/bg.svg");
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    opacity: 1;
    animation: opacityup 0.5s cubic-bezier(0.85, 0, 0.15, 1);
}

#webide.current > div {
    padding: 20px 30px;
    border-radius: 20px;
    background-color: rgba(40, 40, 40, 0.27);
    width: 60vw;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    transform: translateY(10%);
    opacity: 0;
    animation: terminalload 0.5s cubic-bezier(0.85, 0, 0.15, 1) 0.9s forwards;
}

#webide.current  img {
    width: 40vw;
    border-radius: 20px;
    margin-left: 30px;
    filter: hue-rotate(90deg);
}

#about.current {
    display: flex;
    opacity: 1;
}

#about.current > div {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 30px;
    display: flex;
}

.gen, .ver {
    box-sizing: border-box;
    padding: 10px;
    width: calc(50% - 30px);
    background : #141414;
    background : rgba(20, 20, 20, 1);
    border-style : Solid;
    border-color : #4D4D4D;
    border-color : rgba(77, 77, 77, 1);
    border-width : 1px;
    border-radius : 9px;
    -moz-border-radius : 9px;
    -webkit-border-radius : 9px;
    overflow-y: scroll;
    overflow-wrap: anywhere;

}
.gen h5, .ver h5 {
    color: white;
    text-align: center;
    font-size: 25px;
    margin: 20px;

}

.gen {
    margin-right: 15px;
    animation: opacityup 0.5s ease-in;
}
.gen h2, .ver h2 {
    color: #d7d7d7;
}

.gen p, .gen h2, .ver p, .ver h2 {
    margin: 0px 15px;
    color: white;
}

.gen a {
    color: #ffb591;
}

.ver {
    margin-left: 15px;
    opacity: 0;
    animation: opacityup 0.5s ease-in 0.2s forwards;
}
.latest {
    background : linear-gradient(90deg, rgba(255, 140, 69, 1) 0%, rgba(255, 69, 97, 1) 100%);
    padding: 5px 7px;
    border-radius: 4px;
    font-size: 12px;
    vertical-align: center;
}
@media screen and (max-width: 745px) {
    #about.current > div {
        flex-direction: column;
    }
    .gen, .ver {
        box-sizing: border-box;
        padding: 10px;
        width: 100%;
        height: calc(50% - 30px);
        background : #141414;
        background : rgba(20, 20, 20, 1);
        border-style : Solid;
        border-color : #4D4D4D;
        border-color : rgba(77, 77, 77, 1);
        border-width : 1px;
        border-radius : 9px;
        -moz-border-radius : 9px;
        -webkit-border-radius : 9px;
        overflow-y: scroll;
    }
    .gen {
        margin-bottom: 15px;
        margin-right: 0;
    }
    .ver {
        margin-top: 15px;
        margin-left: 0;
    }
    #terminal.current > div {
        flex-direction: column;
    }
    #terminal.current img {
        width: 100%;
        margin-left: 0px;
    }
    #webide.current > div {
        flex-direction: column;
    }
    #webide.current img {
        width: 100%;
        margin-left: 0px;
    }
    .th a:hover {
        background-color: initial;
        color: initial;
    }
    #code h3 {
        font-size: 9vw;
    }
    .codeh {
        width: 85vw;
        padding: 20px 26px;
    }
    .code {
        width: 55vw;
    }
    .copy-btn:hover {
        background : #252525;
        transform: scale(100%);
    }

    .copy-btn:active {
        background : #3b3b3b;
        transform: scale(95%);
    }
    .drawer {
        display: block;
        position: fixed !important;
    }
    .drawer::after {
        display: none;
    }
    .navbar__mobile {
        display: block;
        backdrop-filter: blur(30px);
        -webkit-backdrop-filter: blur(30px);
        overflow: hidden;
    }
    body {
        flex-direction: column;
    }
    #home > p {
        font-size: 12px;
        color: white;
        text-align: center;
        margin-top: 6vh;
        margin-bottom: 0;
    }
    main, #home {
        width: 100vw;
        position: absolute;
        top: 70px;
        right: 0;
        height: calc(100vh - 70px);
    }
    .navbar__desktop {
        display: none
    }
    .navbar__mobile {
        width: 100vw;
        height: 70px;
        animation: nvmob 0.5s ease;
        transform: translateY(-200px);
        -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
        animation-fill-mode: forwards;
        z-index: 20;
    }
    .bar {
        display: flex;
        align-items: center;
        width: 100vw;
        height: 70px;
    }
    .navbar__mobile h2 {
        font-size: 20px;
        position: absolute;
        left: 0;
        padding: 10px 30px;
        color: white;
        margin: 0;
    }
    .navbar__mobile img {
        position: absolute;
        right: 0;
        padding: 5px 25px;
        color: white;
        width: 40px
    }
    .drawer {
        width: 100vw;
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
        z-index: 20;
        position: absolute;
        transform: translateX(100%);
        transition: 0.5s all cubic-bezier(0.87, 0, 0.13, 1);
        height: calc(100vh - 70px);
        top: 70px;
    }
    .drawer a {
        text-decoration: none;
        color: white;
        display: block;
        padding: 30px 40px;
        font-weight: 200;
        transition: 0.5s all cubic-bezier(0.87, 0, 0.13, 1);
    }
    .drawer a::after {
        font-size: 30px;
        font-weight: 1000;
        position: absolute;
        content: '';
        bottom: 7px;
        left: 0;
        height: 3px !important;
        border-radius: 1vmax;
        width: 30%;
        margin: auto 0;
        transform: scaleX(0);
        background: white;
        opacity: 1;
        transition: 0.5s all cubic-bezier(0.87, 0, 0.13, 1);
    }
    .active1 {
        font-size: 30px;
        font-weight: 1000;
        position: relative;
    }
    .drawer .active1::after {
        font-size: 30px;
        font-weight: 1000;
        position: absolute;
        content: '';
        bottom: 7px;
        left: 0;
        height: 3px !important;
        border-radius: 1vmax;
        width: 100%;
        margin: auto 0;
        transform: scaleX(1);
        background: white;
        opacity: 1;
        transition: 0.5s all cubic-bezier(0.87, 0, 0.13, 1);
    }
    .drawer .active1:hover::after {
        font-size: 30px;
        font-weight: 1000;
        position: absolute;
        content: '';
        bottom: 7px;
        left: 0;
        height: 3px !important;
        border-radius: 1vmax;
        width: 100%;
        margin: auto 0;
        transform:  scaleX(1);
        background: white;
        opacity: 1;
        transition: 0.5s all cubic-bezier(0.87, 0, 0.13, 1);
    }
    #cross {
        transform: translateY(-200%);
        filter: invert(1);
        width: 27px;
        position: absolute;
        right: 0;
        padding: 5px 34.5px;
        color: white;
        transition: 0.5s all cubic-bezier(0.87, 0, 0.13, 1);
    }
    #mnav {
        transition: 0.5s all cubic-bezier(0.87, 0, 0.13, 1);
        overflow: hidden;
    }
}